*{
    box-sizing: border-box;
   font-family: sans-serif;
}
body{
    
   min-width: 40px;
   max-height: 100vh;
   padding: 70px;
   background-color:hsl(0, 0%, 100%) ;
}
.container
{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: hsl(300, 43%, 22%) ;
    font-weight: 600px;
    font-size:xx-large;
}
.head
{
   display: flex;
   flex-direction: row;
   gap:300px;
  
}
.head p
{
    color: hsl(303, 10%, 53%);
    line-height: 30px;
}
.rates p
{
    background-color:hsl(300, 24%, 96%);
    padding: 25px;
    border-radius: 10px;
    color:hsl(300, 43%, 22%) ;
    
    font-weight: bolder;
}
.p1
{
    margin-left: 20px;
    margin-right: 0px;
}
.p2
{
    margin-left: 30px;
    
}
.footer
{
    display: flex;
    flex-direction: row;
    gap:30px
}
.ch
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:normal;
     gap:20px;
}

    

img
{
    border-radius: 100px;
    
}
.card
{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    min-width: 360px;
    line-height: 2;
}
span{
    color: hsl(333, 80%, 67%);
}
.card2
{
    margin-top: 20px;
}
.card3
{
    margin-top: 30px;
}
.footer img
{
    border-radius: 50%;
    height:max-content;
}


   